<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
</head>
<body>
<center>
    <b><span th:text=" 'Witaj, ' + ${name}"></span></b>
    <br>
    <span sec:authorize="hasAuthority('admin')">Jesteś adminem :></span>
    <br>
    <form action="#" th:action="@{/logout}" method="get">
        <input type="submit" value="Wyloguj">
    </form>




</center>
</body>
</html>